.header {
display: flex;
justify-content: center;
border-bottom: 1px solid #717A86;
font-weight: 600;
color: #717A86;
gap: 85px;
padding: 25px 315px;
}

.header__menu-list {
  display: flex;
  gap: 85px;
  list-style-type: none;
}

.header__menu-item{
  align-content: center;

}

.header__menu-link{
  text-decoration: none;
}

.header__icons {
display: flex;
gap: 25px;
}

.header__icon {
  text-decoration: none;
}

