.header {
display: flex;
justify-content: center;
border-bottom: 1px solid #717A86;
font-weight: 600;
color: #717A86;
gap: 85px;
padding: 25px 315px;
}

.header__menu-list {
  display: flex;
  gap: 85px;
  list-style-type: none;
}

<<<<<<< HEAD
.header__menu-link{
  text-decoration: none;
  line-height: 0;
}

.header-icons {
=======
.header__menu-item{
  align-content: center;

}

.header__menu-link{
  text-decoration: none;
}

.header__icons {
>>>>>>> 767d1b8d50740df5b1d89b4bbe205a5c62edc6cb
display: flex;
gap: 25px;
}

.header-icons__icon {
  text-decoration: none;
}

/*about-information*/
